<div class="contents row">
  <% @items.each do |item| %>
    <div class="content_post" style="background-image: url(<%= item.image %>);">
      <p><%= item.text %></p>
      <span class="title">
        <%= item.title %>
      </span>
    </div>
  <% end %>
</div>    